<div class="col-sm-6 col-md-4" style="width: 300px">
  <div class="thumbnail h100">
      <h4 class="text-center">test</h4>
    <div class="caption">
        <p>100000 aaaaaaaaaaaaaaaaa</p>
        <img src="#" alt=".." class="img-thumbnail img-size">
        <small class="text-description">ooooooooo</small>
    </div>
  </div>
</div>
