<%= form_tag root_path(), method: :get, class: "form-horizontal" do %>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
      <%= text_field_tag :word, params[:word], placeholder: "", class: "form-control" %>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">search</button>
      </span>
    </div>
    <%= render partial: "state_list", locals:{params: params}%>
  </div>
<% end %>

<div class="w300">
<%# @scraping.each do |key, value|%>
  <%# value.each do |i, row|%>
    <%#= render partial: "list", locals:{row: row, key: key.to_s} %>
  <%# end %>
<%# end %>
<div>
  <p>aaaaaaaaaaa<p>
</div>
<div class="col-sm-6 col-md-4" style="width: 300px">
  <div class="thumbnail h100">
      <h4 class="text-center">test</h4>
    <div class="caption">
        <p>100000 aaaaaaaaaaaaaaaaa</p>
        <img src="#" alt=".." class="img-thumbnail img-size">
        <small class="text-description">ooooooooo</small>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4" style="width: 300px">
  <div class="thumbnail h100">
      <h4 class="text-center">test</h4>
    <div class="caption">
        <p>100000 aaaaaaaaaaaaaaaaa</p>
        <img src="#" alt=".." class="img-thumbnail img-size">
        <small class="text-description">ooooooooo</small>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4" style="width: 300px">
  <div class="thumbnail h100">
      <h4 class="text-center">test</h4>
    <div class="caption">
        <p>100000 aaaaaaaaaaaaaaaaa</p>
        <img src="#" alt=".." class="img-thumbnail img-size">
        <small class="text-description">ooooooooo</small>
    </div>
  </div>
</div>
</div>
<div class="w300">
<div class="col-sm-6 col-md-4" style="width: 300px">
  <div class="thumbnail h100">
      <h4 class="text-center">test1</h4>
    <div class="caption">
        <p>100000 aaaaaaaaaaaaaaaaa</p>
        <img src="#" alt=".." class="img-thumbnail img-size">
        <small class="text-description">ooooooooo</small>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4" style="width: 300px">
  <div class="thumbnail h100">
      <h4 class="text-center">test1</h4>
    <div class="caption">
        <p>100000 aaaaaaaaaaaaaaaaa</p>
        <img src="#" alt=".." class="img-thumbnail img-size">
        <small class="text-description">ooooooooo</small>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4" style="width: 300px">
  <div class="thumbnail h100">
      <h4 class="text-center">test1</h4>
    <div class="caption">
        <p>100000 aaaaaaaaaaaaaaaaa</p>
        <img src="#" alt=".." class="img-thumbnail img-size">
        <small class="text-description">ooooooooo</small>
    </div>
  </div>
</div>
</div>
<div class="w300">
<div class="col-sm-6 col-md-4" style="width: 300px">
  <div class="thumbnail h100">
      <h4 class="text-center">test2</h4>
    <div class="caption">
        <p>100000 aaaaaaaaaaaaaaaaa</p>
        <img src="#" alt=".." class="img-thumbnail img-size">
        <small class="text-description">ooooooooo</small>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4" style="width: 300px">
  <div class="thumbnail h100">
      <h4 class="text-center">test2</h4>
    <div class="caption">
        <p>100000 aaaaaaaaaaaaaaaaa</p>
        <img src="#" alt=".." class="img-thumbnail img-size">
        <small class="text-description">ooooooooo</small>
    </div>
  </div>
</div>
<div class="col-sm-6 col-md-4" style="width: 300px">
  <div class="thumbnail h100">
      <h4 class="text-center">test2</h4>
    <div class="caption">
        <p>100000 aaaaaaaaaaaaaaaaa</p>
        <img src="#" alt=".." class="img-thumbnail img-size">
        <small class="text-description">ooooooooo</small>
    </div>
  </div>
</div>
</div>
